@model Clients.Models.Class

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_LayoutPage1.cshtml";
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
}

<h2>Edit</h2>

@using (Html.BeginForm("Create", "Clients", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.TextEn)
        @Html.TextBoxFor(model => model.TextEn, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TextEn, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Value)
        @Html.TextBoxFor(model => model.Value, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="file">Upload Image</label>
        <input type="file" name="file" id="file" class="form-control" />
       @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
}


